body{
  font-family: Calibri, sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  color: #333;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 100ms ease-in-out;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  z-index: 99;
  background-color: white;
  width: 500px;
  max-width: 80%;
  padding: 2rem;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
}

.popup-overlay {
  position: fixed;
  opacity: 0;
  transition: 100ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

.popup-overlay.active {
  opacity: 1;
  pointer-events: all;
}